<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>URL Shortener</title>
</head>
<body>
	<h1>URL Shortener</h1>
	<% if (locals.message) { %>
		<p class="error"><%=message %></p>
	<% } %>	
	<form action="/" method="post" class="form-container">
		<input type="url" id="url" name="url" placeholder="url here...">
		<input type="text" id="slug" name="slug" placeholder="slug here...">
		<input type="submit" value="create url">
	</form>
	<div class="short-url">
		<% if (locals.shortUrl) { %>
			<a href="<%= shortUrl %>" target="_blank">http://urlshortnode.herokuapp.com/<%=shortUrl %></a>
		<% } %>	
	</div>
</body>
</html>